@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --primary-dark-blue: hsl(233, 26%, 24%);
  --primary-lime-green: hsl(136, 65%, 51%);
  --primary-bright-cyan: hsl(192, 70%, 51%);
  --neutral-grayish-blue: hsl(233, 8%, 62%);
  --neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --neutral-light-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;

  font-size: 18px;
  overflow-x: hidden;
  color: var(--primary-dark-blue);
  background-color: var(--neutral-white);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* --- Buttons --- */
.btn {
  background: linear-gradient(
    to right,
    var(--primary-lime-green),
    var(--primary-bright-cyan)
  );
  padding: 12px 30px;
  border-radius: 25px;
  color: var(--neutral-white);
  font-weight: 700;
  font-size: 0.9rem;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.7;
}

/* --- Navbar --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10%;
  background: var(--neutral-white);
  position: relative;
  z-index: 1000;
}

.logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  width: 140px;
  height: 20px;
}

.nav-links {
  display: flex;
}
.nav-links li {
  margin: 0 15px;
}
.nav-links a {
  color: var(--neutral-grayish-blue);
  font-size: 0.9rem;
  transition: color 0.3s;
  padding-bottom: 1.5rem;
}

.nav-links a:hover {
  color: var(--primary-dark-blue);
  border-bottom: 4px solid var(--primary-lime-green);
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* --- Header Section --- */
header {
  background-color: var(--neutral-light-gray);
  position: relative;
  overflow: visible;
  min-height: 650px;
}
.header-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 0;
  min-height: 650px;
  gap: 20px;
  overflow: hidden;
}
.text-content {
  width: 40%;
  max-width: 450px;
  z-index: 10;
  margin-top: 120px;
}

.text-content h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.text-content p {
  color: var(--neutral-grayish-blue);
  margin-bottom: 2rem;
  line-height: 1.6;
}

.image-content {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image1 {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 700px;
  transform: translate(15%, -10%);
}

.image2 {
  position: absolute;
  content: url("../images/bg-intro-desktop.svg");
  top: -100px;
  right: -40%;
  width: 140%;
  z-index: 1;
}

/* --- Features Section --- */
.bank-features {
  position: relative;
  z-index: 1;
  padding: 100px 10% 100px;
  background-color: var(--neutral-light-grayish-blue);
  margin-top: -220px;
}

.bank-features article {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.bank-features h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.features-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.feature h3 {
  margin: 25px 0;
  font-size: 1.5rem;
}
.feature p {
  font-size: 0.95rem;
  color: var(--neutral-grayish-blue);
}

/* --- Latest Articles --- */
.latest {
  padding: 80px 10%;
  background-color: var(--neutral-light-gray);
}

.latest h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.content-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.latest-content {
  background: var(--neutral-white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.latest-content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.latest-content small {
  display: block;
  padding: 25px 25px 10px;
  color: var(--neutral-grayish-blue);
  font-size: 0.7rem;
}
.latest-content h3 {
  padding: 0 25px;
  font-size: 1.1rem;
  line-height: 1.3;
  cursor: pointer;
}
.latest-content h3:hover {
  color: var(--primary-lime-green);
}
.latest-content p {
  padding: 15px 25px 30px;
  font-size: 0.85rem;
  color: var(--neutral-grayish-blue);
}

/* --- Footer --- */
footer {
  background-color: var(--primary-dark-blue);
  padding: 60px 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* The main container for logos and icons*/
.footer-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  gap: 40px;
}

.social-icons {
  display: flex;
  gap: 13px;
}

.social-icons img {
  cursor: pointer;
  transition: filter 0.3s ease;
}

.social-icons img:hover {
  filter: invert(65%) sepia(82%) saturate(357%) hue-rotate(84deg)
    brightness(93%) contrast(91%);
}
.footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
.footer-links a {
  color: var(--neutral-white);
  font-size: 0.9rem;
}
.footer-links a:hover {
  color: var(--primary-lime-green);
}

.footer-btn {
  text-align: right;
}
.footer-btn p {
  margin-top: 25px;
  font-size: 0.8rem;
  color: var(--neutral-grayish-blue);
}

/* --- Media Queries --- */

@media (max-width: 1024px) {
  .features-content,
  .content-flex {
    grid-template-columns: repeat(2, 1fr);
  }
  .text-content h1 {
    font-size: 2.5rem;
  }
  footer {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .footer-btn {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .image2 {
    top: -40px;
  }
}
@media (max-width: 768px) {
  .header-btn {
    display: none;
  }
  .hide-for-mobile {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon img {
    transition: transform 0.5s ease;
  }

  .menu-icon.open img {
    transform: rotate(180deg);
  }
  /* Mobile Menu Style */
  .nav-links {
    position: absolute;
    top: 80px;
    left: 5%;
    width: 90%;
    background: white;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 50px 1000px rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.4s ease-in-out;
  }
  .nav-links.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    display: flex;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .nav-links a {
    color: var(--primary-dark-blue);
    font-weight: 700;
    padding: 0;
  }

  /* Header Mobile */
  .header-content {
    flex-direction: column-reverse;
    padding: 0;
    text-align: center;
    gap: 0;
  }
  .image-content {
    width: 100%;
    margin-top: -50px;
  }
  .image1 {
    width: 90%;
    transform: translate(0, 0);
    margin: 0 auto;
    top: -80px;
  }
  .image2 {
    content: url("../images/bg-intro-mobile.svg");
    width: 100%;
    top: -25px;
    right: 0;
  }
  .text-content {
    width: 90%;
    max-width: 100%;
    margin: -40px auto 50px;
  }
  .text-content h1 {
    font-size: 2.3rem;
  }

  /* Sections Mobile */
  .bank-features {
    margin-top: -10px;
  }
  .features-content,
  .content-flex {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .bank-features article {
    width: 100%;
    text-align: center;
  }
  .feature,
  .latest-content {
    text-align: center;
    max-width: 400px;
  }
  .latest h2 {
    text-align: center;
  }
  .latest-content h3,
  .latest-content p {
    text-align: left;
  }
}
